google-genai
python-pptx
python-dotenv
comtypes
streamlit
requests
moviepy==1.0.3
opencv-python
Pillow
edge-tts
numpy 
matplotlib 
seaborn 
plotly 
sympy 
scipy 
rdkit 
chempy 
biopython 
networkx 
graphviz 
vpython 
pandas 
imageio
pymupdf
pillow
pytesseract
opencv-python
reportlab


